html, body {
  width: 100vw;
  margin: 0px;
  background-color: black;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: white;
}

#container {
  width: 100%;
  /* height: calc(100% - 65px); */
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}